# Basic questions of Python

# String

In [1]:
##1. take name as input and say hello
name = input("Enter your name: ")
print("Hello {}".format(name))

Enter your name: PRATYUSH DEEP
Hello PRATYUSH DEEP

In [2]:
# 2. From below string print count of "Is".
string = "He is Amol and she is Chaitali"
occurance_of_is = string.count("is")
print("Count of 'is' is: {}".format(occurance_of_is))

Count of 'is' is: 2

In [3]:
# 3. from below string split the words by space
string = "Data is new oil"
print(string.split(" "))

['Data', 'is', 'new', 'oil']

In [4]:
# 4. now from below list, join all words by "=" and create a sentence.
list_1 = ["Data", "is", "new", "oil"]
string = "=".join(list_1)
print(string)

Data=is=new=oil

In [5]:
# 5. from below string replace "Java" with "Python"
sentence = "I love programming in Java."
new_sentence = sentence.replace("Java","Python")
print(new_sentence)

I love programming in Python.

In [6]:
# 6. from below string remove(strip) additional spaces and print it
message = "   This is a message with spaces.   "
print(message.strip())

This is a message with spaces.

In [7]:
#7. From below string find postion(start index) of "sample"
sentence = "This is a sample sentence."
index_of_sample = sentence.index("sample")
print("Start in of sample is {}".format(index_of_sample))

Start in of sample is 10

In [8]:
#8. Given the string "Python is fun!", how can you calculate and print its length?
text = "Python is fun!"
text_length = len(text)
print("Length of text is {}".format(text_length))

Length of text is 14

In [9]:
#9. Print below string in reverse order
string = "Pineapple"
reverse_string = string[::-1]
print("The reverse order of the string 'Pineapple' is {}".format(reverse_string))

The reverse order of the string 'Pineapple' is elppaeniP

In [10]:
#10. Given the string "Welcome to Python Programming.",how can you capitalize the first letter of each word and print the modified string?
text = "Welcome to Python Programming."
captalize_text = text.title()
print(captalize_text)

Welcome To Python Programming.

In [11]:
#11. Convert all letter of string to Upper Case
text = "Data is new oil"
print(text.upper())

DATA IS NEW OIL

In [12]:
#12. From below string just convert first lettter of string to upper case
text = "i am learning python"
print(text.capitalize())

I am learning python

In [13]:
#13. Convert all uppper case to lower and lower case to upper
text = "DaTA is NeW oIL"
print(text.swapcase())

dAta IS nEw Oil

In [14]:
#14. print the addition of below 2 strings
a = 20
b = 30
print(a+b)

50

In [15]:
#15. print the additiono of below 2 strings
a = "20"    
b = "30"
print(int(a)+int(b)) #when we typecast the string into integer

50

In [16]:
a = "20"
b = "30"
print(a+b) # the value of a and b is treated as string

2030

# List

In [17]:
## 16. From below list replace 4 with 44
my_list = [1, 2, 3, 4, 5]
my_list[3]= 44
print(my_list)

[1, 2, 3, 44, 5]

In [18]:
## 17. In below list add(insert) 200 at index 3
my_list = [1, 2, 3, 4, 5]
my_list.insert(3,200) 
print(my_list)

[1, 2, 3, 200, 4, 5]

In [19]:
## 18. In below list add new number 66
my_list = [1, 2, 3, 4, 5]
my_list.append(66)
print(my_list)

[1, 2, 3, 4, 5, 66]

In [20]:
## 19 In below list insert new numbers 66,87,99
my_list = [1, 2, 3, 4, 5]
my_list.extend([66,87,99])
print(my_list)

[1, 2, 3, 4, 5, 66, 87, 99]

In [21]:
## 20. from below list remove number 3
my_list = [1, 2, 3, 4, 5]
my_list.pop(2)
print(my_list)

#"or"

# my_list = [1, 2, 3, 4, 5]
# my_list.remove(3)
# print(my_list)

[1, 2, 4, 5]

In [22]:
## 21. From below list print count of "cherry"
my_list = [1, 2.5, "cherry", 3, "banana", 4.0, "cherry"]
print(my_list.count("cherry"))

2

In [23]:
## 22. From below list print index of "banana"
my_list = [1, 2.5, "apple", 3, "banana", 4.0, "cherry"]
print(my_list.index("banana"))

4

In [24]:
## 23. From below list remove last item
my_list = ["Pune","Delhi","Mumbai","Indore","Jaipur","Dehradun"]
my_list.pop()
print(my_list)

['Pune', 'Delhi', 'Mumbai', 'Indore', 'Jaipur']

In [25]:
## 24. Sort the below list in Alphabetical order
my_list = ["Grapes","Apple","Cherry","Mango","Banana"]
my_list.sort()
print(my_list)

['Apple', 'Banana', 'Cherry', 'Grapes', 'Mango']

In [26]:
## 25. Sort below list in reverse Alphabetical order
my_list = ["Grapes","Apple","Cherry","Mango","Banana"]
my_list.sort(reverse=True)
print(my_list)

['Mango', 'Grapes', 'Cherry', 'Banana', 'Apple']

# Assignment

In [27]:
## 26.Create a list named myList that has three elements:
 #The integer 3
 # The string "element number two"
 # Another list ['last','element']
 # in that order
myList = [3,"element number two",["last","element"]]

In [28]:
## 27.Print  the third element of the following list.
l = [1,2,3,4,5,6,7,8,9]
print(l[2])

3

In [29]:
## 28. Modify the last element of this list so that its value is 16. Print the modified list so you know the operation was performed successfully.
listToModify = ["a","b","sixteen"]
listToModify[-1]=16
print(listToModify)

['a', 'b', 16]

In [30]:
## 29.Calculate the length of the following list.
ListToFindLength =['this','is','the','list','whose','length','I','want']
print(len(ListToFindLength))

8

In [31]:
## 30. Calculate the sum of the following list.
intList = [54,678,2900]
print(sum(intList))

3632

In [32]:
## 31.Find the maximum value of the following list.
maxList= [677,53245,234,236,23456,345,23526,3454]
print(max(maxList))

53245

In [33]:
## 32.Find the minimum value of the following list.
minList= [351,984,1694,284,142,134,467]
print(min(minList))

134

In [34]:
## 33. Append the string "append me!" to the emnd of the list. Print the list to ensure the operation has been completed successfully.
listToAppend = [1,2,3]
listToAppend.append("append me!")
print(listToAppend)

[1, 2, 3, 'append me!']

# Assignment For Loop

In [35]:
## 34. Print the first 10 natural numbers using for loop.
n= int(input("Enter the Number: "))
for i in range(1,n+1):
    print(i)

Enter the Number: 10
1
2
3
4
5
6
7
8
9
10

In [36]:
## 35.Python program to print all the even numbers within the given range.
n = int(input("Enter  the number: "))
for i in range(1,n):
    if i%2==0:
        print(i)

Enter  the number: 20
2
4
6
8
10
12
14
16
18

In [37]:
## 36.Python program to calculate the sum of all numbers from 1 to a given number.
num = int(input("Enter the number: "))
sum=0
for i in range(1,num+1):
    sum +=i
print(sum)

Enter the number: 12
78

In [38]:
## 37. Python program to calculate the sum of all the odd numbers within the given range.
num = int(input("Enter the number: "))
sum = 0
for i in range(num):
    if i%2!=0:
        sum += i
print(sum)

Enter the number: 25
144

In [39]:
## 38. Python program to print a multiplication table of a given number.
num = int(input("Enter the number: "))
for i in range(1,11):
    print("5 x {} =".format(i),5*i)

Enter the number: 5
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50

In [40]:
## 39. Python program to display numbers from a list using a for loop.
list1 = [1,5,6,8,9,25]
for i in list1:
    print(i)

1
5
6
8
9
25

In [41]:
## 40.Python program to count the total number of digits in a number.
number = int(input("Enter the number: "))
count_number = str(number)
count = 0
for i in count_number:
    count +=1
    
print(count)

Enter the number: 25689
5

In [50]:
## 41.Python program to check if the given string is a palindrome.
string = str(input("Enter the string: "))
reverse_string = ""
for i in string:
    reverse_string =i+reverse_string
if string==reverse_string:
    print("The given string {} is palindrome".format(string))
else:
    print("The given string {} is not palindrome".format(string))

Enter the string: mom
The given string mom is palindrome

In [43]:
## 42. Python program that accepts a word from the user and reverses it.
string = str(input("Enter the string: "))
reverse_string = ""
for i in string:
    reverse_string =i+reverse_string
print(reverse_string)

Enter the string: ashish
hsihsa

In [44]:
## 43.Python program to check if a given number is an Armstrong number.
number = int(input("Enter the number: "))
number = str(number)
sum =0
for i in number:
    sum += int(i)**len(number)
if sum==int(number):
    print("The given number {} is an Amstrong number".format(number))
else:
    print("The given number {} is not an Amstrong number".format(number))

Enter the number: 25
The given number 25 is not an Amstrong number

In [45]:
## 44. Python program to count the number of even and odd numbers from a series of numbers.

numbers = input("Enter a series of numbers separated by spaces: ")

numbers_list = [int(num) for num in numbers.split()]

even_count = 0
odd_count = 0

for num in numbers_list:
    if num % 2 == 0:
        even_count += 1
    else:
        odd_count += 1

print("Number of even numbers:", even_count)
print("Number of odd numbers:", odd_count)

Enter a series of numbers separated by spaces: 2 5 6 9
Number of even numbers: 2
Number of odd numbers: 2

In [46]:
## 45.Python program to display all numbers within a range except the prime numbers.
def is_not_prime(n):
    flag = False
    for i in range(2, int((n**0.5)) + 1):
        if n % i == 0:
            flag = True
    return flag

range_starts = int(input("enter the start range:"))

range_ends = int(input("enter the end range: "))
print("Non-prime numbers between",range_starts,"and", range_ends,"are:")
 
for number in filter(is_not_prime, range(range_starts, range_ends)):
    print(number)

enter the start range:15
enter the end range: 36
Non-prime numbers between 15 and 36 are:
15
16
18
20
21
22
24
25
26
27
28
30
32
33
34
35

In [47]:
## 46.Python program to get the Fibonacci series between 0 to 50.
num = int(input("Enter the number: "))
a, b = 0, 1

print(a, end=" ")
print(b, end=" ")

while a + b <= num:
    c = a + b
    print(c, end=" ")
    a, b = b, c

Enter the number: 12
0 1 1 2 3 5 8

In [48]:
## 47.Python program to find the factorial of a given number.
num= int(input("Enter the number: "))
factorial = 1
for i in range(1,num+1):
    factorial = factorial*i
    
print("The factorial of {} is {}".format(num,factorial))

Enter the number: 56
The factorial of 56 is 710998587804863451854045647463724949736497978881168458687447040000000000000

In [49]:
## 48.Python program that accepts a string and calculates the number of digits and letters.
user_input = input("Enter the string: ")
digits = 0
letters =0
for i in user_input:
    if i.isdigit():
        digits = digits+1
    elif i.isalpha():
        letters = letters+1
print("The string has {} letters and {} digits".format(letters,digits))

Enter the string: ashish152
The string has 6 letters and 3 digits